.card {
  border: 1px solid silver;
  background-color: rgb(230, 246, 255);
  border-radius: 8px;
  overflow: hidden;
  margin: 2%;
  width: 350px;
  height: 450px;
  color: black;
}

.cardTop {
  height: 300px;
}

.cardTop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBottom {
  margin-top: 5%;
}

.cardBottom h4 {
  color: black;
}

.date {
  position: relative;
}

.date::before {
  content: '';
  background: #0d6efd;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  height: 2px;
}

a {
  text-decoration: none;
}

.card h5 {
  padding-top: 5%;
}

@media (max-width: 767px) {
  .card {
    width: 400px;
    height: 500px;
    margin: 2%;
    border: 1px solid silver;
    background-color: rgb(230, 246, 255);
  }

  .cardBottom {
    /* margin: 10px 20px; */
    margin-top: 20%;
  }

  .card img {
    object-fit: cover;
    height: 350px;
  }
}
