.center {
  display: flex;
  justify-content: space-around;
}

.centerContent {
  display: flex;
  width: 60%;
}

.photo {
  display: flex;
  flex-direction: column;
  width: 60%
}

.title {
  display: flex;
}

.bigPhoto {
  width: 100%;
  height: 300px;

}

.bigPhotoImg {
  height: 100%;
  border:1px solid rgb(218, 213, 213)
}

.miniPhoto {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.miniPhotoImg {
  display: inline-flex;
  margin: 2px;
  width: 100px;
  padding: 5px;
  border:1px solid rgb(218, 213, 213)
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.zaglushka {
  width: 8%
}

.miniZaglushka {
  width: 20px;
}

@media screen and (max-width: 1000px) {
  .centerContent {
    display: flex;
    flex-direction: column;
    width: 60%
  }

  .contact {
    width: 100%;
    height: 200px;
  }

  .photo {
    width: 100%;
  }
}
