/* @font-face {
  font-family: "CenturyGothicRegular";
  src: url("./fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
  src: url("./fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
  url("./fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
  url("./fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
} */

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* font-family: 'Century Gothic'; */
  /* background-image: url('/house.jpeg')  */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main {
  flex-grow: 1;

}


.navbar-expand-lg {
  border: 1px solid silver;
  background-color: rgb(230, 246, 255);
}


header a {
  color: rgb(0, 0, 0);
}

header a:hover {
  color: #b2dfdb;
}


.accordion-body {
  padding: 0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0;
}

.accordion-button {
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, .125);
}

.accordion-item {
  border: none
}

.pt-3 {
  padding-top: 15px;
}

.mh-200 {
  min-height: 200px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 30px;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #285e8e;
  /*set the color you want here*/
}


#root > div > div.main > div > div > div.Profile_menu_right__lDNw6 > div{
  width: 600px;
}

h5,h6{
  font-family: 'Raleway', sans-serif;
}
