.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 3% */
}

.List {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.title {
  margin-top: 30px;
}

.advCount{
  margin-top: -5px;
  margin-bottom: -15px;
}
