.center {
  display: flex;
  justify-content: space-around;
}

.photo {
  display: flex;
  flex-direction: column;
  width: 60%
}

.title {
  display: flex;
}

.bigPhoto {
  width: 100%;
  height: 300px;
}

.bigPhotoImg {
  height: 100%;
}

.miniPhoto {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.miniPhotoImg {
  display: inline-flex;
  
  width: 100px;
  padding: 5px;
}

.contact {
  width: 40%;
}

.description {
  display: flex;
}

.exchange {
  display: flex;
}

