.profile h5{
  padding-top: 1%;
  /* justify-content: start; */
}

 /* .profile { 
 
  justify-content: start;
}  */

.h3, .h5{
  border: 1px solid silver;
  background-color: rgb(230, 246, 255);
  border-radius: 20px;
  max-width: 600px;
  margin: 15px;
  line-height: 2;
}

.h5{
  background-color:rgb(230, 246, 255);
  padding: 10px;
  line-height: 1;
}
