.profile h5{
  padding-top: 1%;
  /* justify-content: start; */
}

 /* .profile { 
 
  justify-content: start;
}  */

.h3, .h5{
  display: flex;
  justify-content: center;
  border: 1px solid silver;
  background-color: rgb(230, 246, 255);
  border-radius: 20px;
  max-width: 600px;
  margin: 15px;
  line-height: 2;
}

.add{
   background-color: #a0aab3;
  border: 1px solid silver;
  max-width: 600px;
  color:white
}
/* .h5{
  background-color:#c4c9cd;
  padding: 10px;
  line-height: 1;
  border: solid 1px silver;
  border-radius: 20px;
  max-width: 600px;
} */

.inp{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
}

.no_margin{
  margin: 0;
}