.menu {
  display: flex;
  justify-content: space-between;
}

.menu_left {
  width: 25%;
  border: 1px solid silver;
  border-radius: 20px;
  padding: 15px;
  /* border: 
  border-radius: 30%; */
}

.menu_right {
  width: 70%;
  border: 1px solid silver;
  border-radius: 20px;
  align-items:center;
  padding: 15px ;
}

