.Main {
  width: 70%;
  margin: 0 auto;
}

.Main h2 {
  margin-top: 5%;
}

.Category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1%;
}

.Slider {
  margin-top: 1%;
}

.titleCategory {
  width: 400px;
  margin-top: 10px;
}

.titleNewAdv {
  width: 470px;
  margin-top: 15px;
}

@media (max-width: 767px) { 
  .Main>img {
    width: 90%;
  }
}
