.Main {
  width: 70%;
  margin: 0 auto;
}

.Main h2 {
  margin-top: 5%;
}

.Category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2%;
}

.Slider {
  margin-top: 3%;
}


.slick-arrow, .slick-prev {
  color: black;
} 

.slick-prev:before, .slick-next:before {
  color: black;
  font-size: 30px;
}






