.footer {
  margin-top: 3%;
  flex: 0 0 auto;
  border: 1px solid silver;
  background-color: rgb(230, 246, 255);
 text-align: center
}


footer a{
  color:rgb(0, 0, 0);
}

footer a:hover{
  color: #b2dfdb;
}
