.category {
  transition: box-shadow .3s;
  width: 200px;
  height: 250px;
  margin: 1%;
  border: 1px solid silver;
  background-color: rgb(230, 246, 255);
  text-align: center;
  vertical-align: middle;
  font-size: large;
}

.category_text {
  margin-top: 10px;
  font-weight: 500;
}

.category img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.category:hover {
  box-shadow: 0 0 20px rgb(129, 125, 125);  
}

@media (max-width: 767px) {
  .category {
    width: 400px;
    height: 500px;
    margin: 2%;
    border: 1px solid silver;
    background-color: rgb(230, 246, 255);
  }

  .category_text {
    margin-top: 20px;
    font-weight: 700;
  }

  .category img {
    object-fit: cover;
    height: 430px;
  }
}
