.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.card {
  border: 1px solid #fff;
  background: black;
  border-radius: 8px;
  overflow: hidden;
  height: 400px;
  color: #fff;
}

.cardTop h1 {
  font-size: 1rem;
  margin: 10px 20px;
}

.cardTop > img {
  width: 100%;
   height: 100%;
   object-fit: cover;

}

.cardBottom {
  margin: 10px 20px;

}

.date {
  position: relative;
}

.date::before {
  content: '';
  background: rgb(255,61,61);
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  height: 2px;
}

.card img {
  width: 100%;
  height: 200px;
}
