.main {
  display: flex;
  border:1px solid black;
  flex-direction: column;
  align-items:center;
}

.size {
  width: 200px;
  height: 220px;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.change {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.main {
  border: 1px solid rgb(158, 158, 158);
  padding: 5px;
  /* margin: 10px 20px 20px 50px;  */
  /* height: 280px; */
  
}

.textB{
  color: black;
}

/* .container{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.h200{
  height: 200px;
}

