.search {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  margin-top: 3%;
  padding: 0;
}

.category {
  width: 200px;
}

.phrase {
  width: 700px;
}

.city {
  width: 200px;
}

.search_button {
  width: 100px;
}

.search select, .search input {
  border: 1px solid #0D6EFE;
}

.category, .phrase, .search_button, .city{
  margin-top: 10px;
}

@media (min-width: 768px) and (max-width: 1400px) {
  .search {
    flex-wrap: wrap;
  }
  .category {
    width: 55%;
  }
  
  .phrase {
    width: 55%;
  }
  
  .city {
    width: 55%;
  }

  .search_button {
    width: 55%;
  }
}

@media (max-width: 767px) {
  .search {
    flex-wrap: wrap;
  }
  
  .category {
    width: 75%;
  }
  
  .phrase {
    width: 75%;
  }
  
  .city {
    width: 75%;
  }

  .search_button {
    width: 75%;
  }
}
